<div class="uploader_file_single">
  <span class="uploaded_file_wrapper" ng-show="has_file">
    <a target=_blank href="{{file.absolute_url}}" class="uploaded_file {{is_show_image? 'image_file':''}}" title="{{ file.filename | characters:30 :true }}.{{file.extension}}">
        <img class="thumbnail img-responsive" src="{{file.absolute_url}}" ng-show="is_show_image" />
    </a>
    
    <a target=_self href="{{file.absolute_url}}" class="" title="{{ file.filename | characters:30 :true }}.{{file.extension}}" 
       download="{{ file.filename | characters:30 :true }}.{{file.extension}}">
      <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
      {{is_show_file_name?(file.filename | characters:30 :true)  + '.' + file.extension : ''}}
    </a>
    <a href="javascript:void(0)" title="remove this file" ng-hide="disabled" ng-click="remove(file)" class="remove_file"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
  </span>
  <div class="form-group-sub" ng-hide="has_file || disabled">
    <div class="btn btn-default btn-file" style="width: 100%">
      <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
      <input type="file" nv-file-select uploader="uploader"/>
    </div>
    <div class="uploader_file_tool" ng-repeat="item in uploader.queue">
      <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
      </div>
    </div>
  </div>
    <div class="" ng-hide="disabled">
        <button type="button" ng-click="showListDocumentSingle()" class="btn btn-info pull-right">Select document</button>
    </div>
    
   
    <div class="modal" id="{{fieldId}}listDocumentModalSingle" tabindex="-1" role="dialog" aria-labelledby="{{fieldId}}listDocumentModalSingle" aria-hidden="true">
        <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">List documents</h4>
                </div>
                <div class="modal-body overhidden">
                    <div class="form-group">
                        <div class="search_box">
                            <!--<form role="form">-->
                            <div class="row form-group" style="min-height: 40px; margin-bottom: 0;">
                                <div class="col-xs-3">
                                    <select class="form-control" ng-model="search_document.cat_id" ng-options="item.id as item.name for item in file_categories" ng-enter="search()" placeholder="search category...">
                                        <option value="">[Select category]</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select class="form-control" ng-model="search_document.restricted" ng-options="item.id as item.name for item in restricted_list" ng-enter="search()" placeholder="search restricted...">
                                        <option value="">[Select restricted]</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <input ng-model="search_document.filename" type="text" class="form-control" placeholder="search name..." ng-enter="search()">
                                </div>
                                <div class="col-xs-2">
                                    <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            <!--</form>-->
                        </div>
                        <div id="example3_wrapper{{fieldId}}" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6 pull-right">
                                    <div id="example2_length{{fieldId}}" class="dataTables_length">
                                        <label>records per page
                                            <select ng-model="itemsByPage" ng-options="item.value as item.name for item in itemsByPages"></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scroll">
                                <table id="example2{{fieldId}}" class="table table-bordered table-hover table-condensed dataTable" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                           <th>#</th>
                                            <th ng-class="{sorting: sort.attribute != 'filename', sorting_asc: sort.attribute == 'filename' && sort.type == 'ASC', sorting_desc: sort.attribute == 'filename' && sort.type == 'DESC'}" ng-click="sort('filename')" rowspan="1" colspan="1">Name</th>
                                            <th ng-class="{sorting: sort.attribute != 'restricted', sorting_asc: sort.attribute == 'restricted' && sort.type == 'ASC', sorting_desc: sort.attribute == 'restricted' && sort.type == 'DESC'}" ng-click="sort('restricted')" rowspan="1" colspan="1" ng-show="root.is_superadmin">Restricted</th>
                                            <th ng-class="{sorting: sort.attribute != 'cat_id', sorting_asc: sort.attribute == 'cat_id' && sort.type == 'ASC', sorting_desc: sort.attribute == 'cat_id' && sort.type == 'DESC'}" ng-click="sort('cat_id')" rowspan="1" colspan="1">Category</th>
                                            <th rowspan="1" colspan="1">Size</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th rowspan="1" colspan="1" ng-show="root.is_superadmin">Restricted</th>
                                            <th rowspan="1" colspan="1">Category</th>
                                            <th rowspan="1" colspan="1">Size</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        <tr class="even" ng-repeat="item in documents">
                                            <td>{{$index + 1}}</td>
                                            <td class=" sorting_1">{{item.filename}}.{{item.extension}}</td>
                                            <td class=" " ng-show="root.is_superadmin">{{item.restricted_label}}</td>
                                            <td class=" ">{{item.cat_name}}</td>
                                            <td class=" ">{{item.filesize_label}}</td>
                                            <td>
                                                <button type="button" class="btn btn-icon btn-xs btn-info" ng-click="addRelatedDocument(item)" ng-show="!checkRelatedDocument(item)">
                                                    <span class="glyphicon glyphicon-plus"></span> Add
                                                </button>
                                                <span ng-show="checkRelatedDocument(item)">Added</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dataTables_info" id="example2_info{{fieldId}}">
                                        Showing {{start_document}} to {{end_document}} of {{totalresults}} entries
                                    </div>
                                </div>
                                <div class="col-xs-6" ng-show="pages.length > 1">
                                    <div class="dataTables_paginate paging_bootstrap">
                                        <ul class="pagination">
                                            <li class="prev" ng-class="{disabled: currentPage == 1}">
                                                <a href="" ng-click="selectPage(currentPage - 1)">← Previous</a>
                                            </li>
                                            <li ng-repeat="page in pages" ng-class="{active: page == currentPage}" >
                                                <a href="" ng-click="selectPage(page)">{{page}}</a>
                                            </li>
                                            <li class="next" ng-class="{disabled: currentPage == pages.length}">
                                                <a href="" ng-click="selectPage(currentPage + 1)">Next → </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
</div>
