<div class="modal" id="processPO" tabindex="-1" role="dialog" aria-labelledby="processPOLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Process Order</h4>
			</div>

			<div class="modal-body" id="modal-body">
				<a ng-click="purchaseOrderDetail()" class="btn btn-primary btn-block">Edit ORDER</a>
				<a ng-click="purchaseOrderSummary()" class="btn btn-primary btn-block">ORDER Summary</a>
				<a class="btn btn-primary btn-block" ng-click="purchaseOrderMachineSchedule()">Machine Schedule</a>
			</div>
			<div class="modal-footer" id="modal-footer"></div>
		</div>
	</div>
</div>
