<my-modal-process-po ui-id="search_purchase_order_id"></my-modal-process-po>
<my-header ng-show="!is_amp_guest"></my-header>
<my-sidebar ng-show="!is_amp_guest"></my-sidebar>

<div id="dashboard-wrapper">
    <div class="content-wrapper home" id="dashboard">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!--<div id="logo"></div>-->
        <div class="home-header">DURE FOODS LTD.</div>
        <div class="home-title"> Dry Blending & Custom Packaging since 1978 </div>
        <div class="home-tracker"> PROJECT TRACKER </div>
        <ol class="breadcrumb">
            <li class="active">
                <a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="button_outer" style="width: 33.33%">
                <!--<label class="hidden">Stores</label>-->
                <a ui-sref="home" class="btn btn-primary btn-lg btn-black" style="width: 190px">PROJECT DATABASE</a>
                <!--<a ui-sref="store-create" class="hidden btn btn-primary btn-lg" ng-show="root.is_superadmin">ADD/EDIT PROJECT</a>-->
                <a ui-sref="customer-list" class="btn btn-primary btn-lg btn-black" style="width: 190px">CUSTOMER</a>
            </div>
            <div class="button_outer" style="width: 33.33%">
                <!--<label class="hidden">Signage</label>-->
                <a ui-sref="home" class="btn btn-primary btn-lg btn-black" style="width: 190px">ADD NEW PROJECT</a>
                <!--<a ui-sref="signage-create" class="hidden btn btn-primary btn-lg" ng-show="root.is_superadmin">ADD/EDIT SIGNAGE</a>-->
                <a ui-sref="customer-create" class="btn btn-primary btn-lg btn-black" style="width: 190px">ADD NEW CUSTOMER</a>
            </div>
            <div class="button_outer" style="width: 33.33%">
                <label class="hidden">Others</label>
                <a ui-sref="user-list" class="btn btn-info btn-sm" ng-show="root.is_superadmin" style="width: 190px">Users</a>
                <a ui-sref="home" class="btn btn-info btn-sm" style="width: 190px">Reports</a>
                <a ui-sref="home" class="btn btn-info btn-sm" style="width: 190px">Documents</a>
                <!--<a ui-sref="customer-list" class="btn btn-info btn-sm">Customers</a>-->
            </div>
        </div>
        <div id="setting_control">
            <a ui-sref="setting" ng-show="root.is_superadmin"><i class="icon_setting pull-right"></i></a>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</div>