<my-modal-process-po ui-id="search_purchase_order_id"></my-modal-process-po>
<my-header ng-show="!is_amp_guest"></my-header>
<my-sidebar ng-show="!is_amp_guest"></my-sidebar>

<div class="content-wrapper" style="min-height: 648px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Enter project details
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li class="active">Enter project details</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row" ng-show="init_loaded">
            <div class="col-md-12">
                <ol class="breadcrumb tool_box">
                    <li><b>Project actions</b></li>
                    <li><a ui-sref="project-list">Project list</a></li>
                    <li class="active"><a ui-sref="project-create" ui-sref-opts="{reload: true, notify: true}">Add new project</a></li>
                </ol>
                <!-- general form elements -->
                <div class="box overhidden top_box">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button type="button" ng-click="create()" class="btn btn-primary pull-right margin-5" ng-show="is_create">Save</button>
                        <button type="button" ng-click="update()" class="btn btn-primary pull-right margin-5" ng-show="is_update">Save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box no-border" style="overflow: auto;">
                    <div class="box-body">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <!-- form start -->
                            <form role="form">
                                <div class="row form-group" ng-class="{'has-error': project_error.date.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Date <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.date" type="text" class="form-control datepicker" placeholder="date">
                                        <span class="control-label" for="inputError" ng-show="project_error.date.length != 0" ng-repeat="error in project_error.date">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group none" ng-class="{'has-error': project_error.primary_contact.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Primary Contact</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.primary_contact" type="text" class="form-control" placeholder="primary_contact">
                                        <span class="control-label" for="inputError" ng-show="project_error.primary_contact.length != 0" ng-repeat="error in project_error.primary_contact">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.customer_id.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label for="" >Customer <span class="required">*</span></label></br>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.customer_id" ng-options="item.id as item.name for item in project_customers" data-placeholder="Choose customer ...">
                                        </select>
                                        <span class="control-label" for="inputError" ng-show="project_error.customer_id.length != 0" ng-repeat="error in project_error.customer_id">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.project_number.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Project Number</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.project_number" type="text" class="form-control" placeholder="project_number">
                                        <span class="control-label" for="inputError" ng-show="project_error.project_number.length != 0" ng-repeat="error in project_error.project_number">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row form-group" ng-class="{'has-error': project_error.volume.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Volume</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.volume" type="text" class="form-control" placeholder="volume">
                                        <span class="control-label" for="inputError" ng-show="project_error.volume.length != 0" ng-repeat="error in project_error.volume">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row form-group" ng-class="{'has-error': project_error.image_id.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Document</label>
                                    </div>
                                    <div class="col-md-9">
                                        <file-uploader-single option-style="'file'" file-id="project.document_id" model-id="project.document_id" field-id="'document_id'"></file-uploader-single>
                                        <span class="control-label" for="inputError" ng-show="project_error.document_id.length != 0" ng-repeat="error in project_error.document_id">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div><!--/.col (left) -->
                        <div class="col-md-6">
                            <!-- general form elements disabled -->
                            <form role="form">
                                <div class="row form-group" ng-class="{'has-error': project_error.price_point.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Price Point</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.price_point" type="text" class="form-control" placeholder="price_point">
                                        <span class="control-label" for="inputError" ng-show="project_error.price_point.length != 0" ng-repeat="error in project_error.price_point">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row form-group" ng-class="{'has-error': project_error.life_style.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>What type of product is this? Lifestyle, Original</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.life_style" ng-options="item.id as item.name for item in project_typeProducts" data-placeholder="Select Type of Product..." data-ng-change="showHideOther(other_type_product)">
                                        </select>
                                        <span class="control-label" for="inputError" ng-show="project_error.life_style.length != 0" ng-repeat="error in project_error.life_style">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                        <input ng-if="project.life_style == 'other_type'" ng-model="project.other_type_product" class="form-control" placeholder="Add other type of product" />
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.service.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Services Required</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-control chosen" ng-model="project.service" ng-options="item.id as item.name for item in project_services" data-placeholder="Select Service..." data-ng-change="showHideOther(other_service)">
                                        <span class="control-label" for="inputError" ng-show="project_error.service.length != 0" ng-repeat="error in project_error.service" />
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                        <input ng-if="project.life_style == 'other_type'" ng-model="project.other_service" class="form-control none" placeholder="Add other service">
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.product_match.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Product Match</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-control chosen" ng-model="project.product_match" ng-options="item.id as item.name for item in libYesNo" data-placeholder="Product Matching">
                                        <span class="control-label" for="inputError" ng-show="project_error.product_match.length != 0" ng-repeat="error in project_error.product_match">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.note.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Description<span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea ng-model="project.note" type="text" class="form-control" placeholder="note"></textarea>
                                        <span class="control-label" for="inputError" ng-show="project_error.note.length != 0" ng-repeat="error in project_error.note">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.status.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.status" ng-options="item.id as item.name for item in project_status" data-placeholder="Status">
                                        </select>
                                        <span class="control-label" for="inputError" ng-show="project_error.status.length != 0" ng-repeat="error in project_error.status">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box no-border" style="min-height: 100px">
                    <div class="box-header">
                        <h3 class="box-title">Project documents</h3>
                    </div>
                    <div class="box-body overhidden">
                      <i>Available only on update</i>
                        <!-- <file-uploader file-ids="project.tmp_file_ids" model-id="project.id"></file-uploader> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
