<my-modal-process-po ui-id="search_purchase_order_id"></my-modal-process-po>
<my-header ng-show="!is_amp_guest"></my-header>
<my-sidebar ng-show="!is_amp_guest"></my-sidebar>

<div class="content-wrapper" style="min-height: 648px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Enter project details
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li class="active">Enter project details</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row" ng-show="init_loaded">
            <div class="col-md-12">
                <ol class="breadcrumb tool_box">
                    <li><b>Project actions</b></li>
                    <li><a ui-sref="project-list">Project list</a></li>
                    <li class="active"><a ui-sref="project-create" ui-sref-opts="{reload: true, notify: true}">Add new project</a></li>
                </ol>
                <!-- general form elements -->
                <div class="box overhidden top_box">
                    <div class="col-md-7">
                        <button type="button" ng-click="delete()" class="btn btn-primary pull-right margin-5">Delete</button>
                        <!--<a ui-sref="project-view({'id':project.id})" class="btn btn-success pull-right margin-5">View</a>-->
                        <button type="button" ng-click="update()" class="btn btn-primary pull-right margin-5" ng-show="is_update">Save</button>
                    </div>
                </div>
            </div>



            <div class="col-md-12 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header " ng-class="{'alert-warning': project.isFullInfo === false}">
                        <h3 class="box-title">Project Details</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-warning" ng-show="project.isFullInfo === false">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool box-first" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                        
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <!-- form start -->
                            <form role="form">
                                <div class="row form-group" ng-class="{'has-error': project_error.date.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Date <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.date" type="text" class="form-control datepicker" placeholder="date">
                                        <span class="control-label" for="inputError" ng-show="project_error.date.length != 0" ng-repeat="error in project_error.date">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.primary_contact.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Primary Contact</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.primary_contact" type="text" class="form-control" placeholder="primary contact">
                                        <span class="control-label" for="inputError" ng-show="project_error.primary_contact.length != 0" ng-repeat="error in project_error.primary_contact">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.customer_id.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Company</label></br>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.customer_id" 
                                                ng-options="item.id as item.name for item in project_customers" 
                                                data-placeholder="Choose customer ...">
                                        </select>

                                        <span class="control-label" for="inputError" ng-show="project_error.customer_id.length != 0" ng-repeat="error in project_error.customer_id">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                        <div class="add-customer" style="padding:10px 0 10px;">
                                            <button class="btn btn-primary" ng-click="addCustomer()">Add new Customer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--/.col (left) -->
                        <div class="col-md-6">
                            <!-- general form elements disabled -->
                            <form role="form">
                                <div class="row form-group" ng-class="{'has-error': project_error.project_number.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Project number / ID</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.project_number" type="text" class="form-control" placeholder="project number">
                                        <span class="control-label" for="inputError" ng-show="project_error.project_number.length != 0" ng-repeat="error in project_error.project_number">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row form-group" ng-class="{'has-error': project_error.project_name.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Brand/Product</label>
                                    </div>
                                    <div class="    col-md-9">
                                        <input ng-model="project.project_name" type="text" class="form-control" placeholder="project number">
                                        <span class="control-label" for="inputError" ng-show="project_error.project_name.length != 0" ng-repeat="error in project_error.project_name">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.volume.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Volume</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.volume" type="text" class="form-control" placeholder="volume">
                                        <span class="control-label" for="inputError" ng-show="project_error.volume.length != 0" ng-repeat="error in project_error.volume">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.price_point.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Price Point</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input ng-model="project.price_point" type="text" class="form-control" placeholder="Price Point">
                                        <span class="control-label" for="inputError" ng-show="project_error.price_point.length != 0" ng-repeat="error in project_error.price_point">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <h3 class="box-title"><b>General Product Information</b></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form role="form">
                                <div class="row form-group" ng-class="{'has-error': project_error.life_style.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>What type of product is this? Lifestyle, Original</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.life_style" 
                                                ng-options="item.id as item.name for item in project_typeProducts" 
                                                data-placeholder="Select Type of Product..." data-ng-change="showHideLifeStyle()">
                                        </select>
                                        <span class="control-label" for="inputError" ng-show="project_error.life_style.length != 0" ng-repeat="error in project_error.life_style">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                        <input ng-if="project.life_style == 'type_other'" ng-model="project.other_type_product" class="form-control" placeholder="Add other type of product" />
                                    </div>
                                </div>

                                <div class="row form-group" ng-class="{'has-error': project_error.service.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Services Required</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.service"
                                                ng-options="item.id as item.name for item in project_services"
                                                data-placeholder="Select Service..." 
                                                data-ng-change="showHideOther()">
                                        </select>
                                        <span class="control-label" for="inputError" ng-show="project_error.service.length != 0" ng-repeat="error in project_error.service">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                        <input ng-if="project.service == 'type_other'" ng-model="project.other_service" class="form-control" placeholder="Add other service">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form role="form">
                                <div class="row form-group" ng-class="{'has-error': project_error.product_match.length != 0}">
                                    <div class="col-md-3 text-right">
                                        <label>Product Match</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select chosen class="form-control" ng-model="project.product_match"
                                                ng-options="item.id as item.name for item in libYesNo" 
                                                data-placeholder="Product Matching">
                                        </select>
                                        <span class="control-label" for="inputError" ng-show="project_error.product_match.length != 0" ng-repeat="error in project_error.product_match">
                                            <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- Begin Sales -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title" ng-class="{'alert-warning': sale.isFullInfo === false}">
                        <h3 class="box-title">Sales</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-warning" ng-show="sale.isFullInfo === false">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <sale sale="sale" sale-error="sale_error"
                               ng-if="sale && is_update && typeof(project.service) !== 'undefined'" update="true"
                               project-service="project.service"></sale>
                    </div>
                </div>
            </div>
            <!-- End Sales-->
            
            <!-- Begin Product Development -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title" ng-class="{'alert-warning': productDevelopment.isFullInfo === false}">
                        <h3 class="box-title">Product Development</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-warning"ng-show="productDevelopment.isFullInfo === false">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <product-development product-development="productDevelopment" product-development-error="productDevelopment_error" update="true" ng-if="productDevelopment && is_update"></product-development>
                    </div>
                </div>
            </div>
            <!-- End Product Development-->
            
            <!-- Begin Package Test -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title" ng-class="{'alert-warning': packProduct.isFullInfo === false}">
                        <h3 class="box-title">Packaging Test/ Product</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-warning" ng-show="packProduct.isFullInfo === false">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <pack-product pack-product="packProduct" update="true" 
                                      pack-product-error="packProduct_error" ng-if="packProduct && is_update"></pack-product>
                    </div>
                </div>
            </div>
            <!-- End Package Test-->
            
            <!-- Begin Q/A -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title" ng-class="{'alert-warning': qa.isFullInfo === false}">
                        <h3 class="box-title">Q/A</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-warning"ng-show="qa.isFullInfo === false">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <qa qa="qa" update="true" qa-error="qa_error" 
                            ng-if="qa && is_update && qa_error && typeof(project.service) !== 'undefined'"
                            project-service="project.service"></qa>
                    </div>
                </div>
            </div>
            <!-- End Q/A-->
            
            <!-- Begin Notes -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title">
                        <h3 class="box-title">Notes</h3>

            <!--                        <button type="button" class="btn btn-box-tool btn-warning">
                            <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                        </button>-->            <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <div class="row form-group" ng-class="{'has-error': project_error.note.length != 0}">
                            <div class="col-md-12">
                                <textarea ck-editor ng-model="project.note" type="text" class="form-control" placeholder="note"></textarea>
                                <span class="control-label" for="inputError" ng-show="project_error.note.length != 0" ng-repeat="error in project_error.note">
                                    <i class="fa fa-times-circle-o"></i> Error: {{error}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Notes-->
            
            <!-- Begin Approvals -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title" ng-class="{'alert-warning': productApproval.isFullInfo === false}">
                        <h3 class="box-title">Approvals</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool btn-warning" ng-show="productApproval.isFullInfo === false">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <product-approval product-approval="productApproval" 
                                    is-full-info="isFullInfo"
                                    product-approval-error="productApproval_error" 
                                    ng-if="productApproval && is_update && typeof(isFullInfo) !== 'undefined' && productApproval_error" update="true"></product-approval>
                    </div>
                </div>
            </div>
            <!-- End Approvals-->
            
            <!-- Begin History -->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title">
                        <h3 class="box-title">History</h3>
                        <div class="box-tools pull-right">
<!--                            <button type="button" class="btn btn-box-tool btn-warning">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                    </div>
                </div>
            </div>
            <!-- End History-->
            
            <!-- Photo and documents-->
            <div class="col-md-6 box-over">
                <div class="box no-border collapsed-box" style="overflow: auto;">
                    <div class="box-header sub-box-title">
                        <h3 class="box-title">Photos and documents</h3>
                        <div class="box-tools pull-right">
<!--                            <button type="button" class="btn btn-box-tool btn-warning">
                                <i class="fa fa-warning-triangle" aria-hidden="true"></i>
                            </button>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body overhidden">
                        <file-uploader file-ids="project.tmp_file_ids" model-id="project.id" sendemail="true" email-files = "email.documents"></file-uploader>
                    </div>
                </div>
            </div>
            <!--End photo and documents-->
            
            <div class="col-md-12">
                <p class="text-dark-blue text-center">Please click on + to expand section</p>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="sendEmailModal" tabindex="-1" role="dialog" aria-labelledby="sendEmailModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{email_title}}</h4>
            </div>
            <div class="modal-body overhidden">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>From</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="email.from" disabled="" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>To</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="email.to" />
                        <span class="small">emails separated by comma</span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Subject</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="email.subject" />
                    </div>
                </div>
                <hr />
                <label>Message</label>
                <textarea class="form-control" ng-model="email.content" style="height: 200px" ></textarea>
                <hr />
                <a target="_blank" title="attachment" href="{{document.absolute_url}}" class="email_attachment" ng-repeat="document in email.documents">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    {{document.filename}}.{{document.extension}}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="sendEmail()">Send Email</button>
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div class="modal" id="customerAddModal" tabindex="-1" role="dialog" aria-labelledby="customerAddModal" aria-hidden="true" >
    <div class="modal-dialog" style="width: 902px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Customer</h4>
            </div>
            <div class="modal-body overhidden">
                <div class="col-md-6">
                    <div class="row form-group" ng-class="{'has-error': customer_error.ship_to.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>Ship-To Name <span class="required"></span></label>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.ship_to" type="text" class="form-control" placeholder="Ship-To Name">
                            <span class="control-label" for="inputError" ng-show="customer_error.ship_to.length != 0" ng-repeat="error in customer_error.ship_to">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group" ng-class="{'has-error': customer_error.ship_oa.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>O/A (if applicable)<span class="required"></span></label>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.ship_oa" type="text" class="form-control" placeholder="O/A (if applicable)">
                            <span class="control-label" for="inputError" ng-show="customer_error.ship_oa.length != 0" ng-repeat="error in customer_error.ship_oa">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group" ng-class="{'has-error': customer_error.ship_address.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>Address<span class="required"></span></label>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.ship_address" type="text" class="form-control" placeholder="Ship Address">
                            <span class="control-label" for="inputError" ng-show="customer_error.ship_address.length != 0" ng-repeat="error in customer_error.ship_address">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group" ng-class="{'has-error': customer_error.bill_to.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>Bill-To</label>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.bill_to" type="text" class="form-control" placeholder="Bill-To (Full Legal Company Name)">
                            <span class="control-label" for="inputError" ng-show="customer_error.bill_to.length != 0" ng-repeat="error in customer_error.bill_to">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group" ng-class="{'has-error': customer_error.bill_oa.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>O/A (if applicable)</label>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.bill_oa" type="text" class="form-control" placeholder="O/A (if applicable)">
                            <span class="control-label" for="inputError" ng-show="customer_error.bill_oa.length != 0" ng-repeat="error in customer_error.bill_oa">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group" ng-class="{'has-error': customer_error.bill_address.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>Bill Address</label></br>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.bill_address" type="text" class="form-control" placeholder="Bill Address">
                            <span class="control-label" for="inputError" ng-show="customer_error.bill_address.length != 0" ng-repeat="error in customer_error.bill_address">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>

                    <div class="row form-group" ng-class="{'has-error': customer_error.phone.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>Phone</label></br>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.phone" type="text" class="form-control" placeholder="Phone">
                            <span class="control-label" for="inputError" ng-show="customer_error.phone.length != 0" ng-repeat="error in customer_error.phone">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>
                                
                    <div class="row form-group" ng-class="{'has-error': customer_error.fax.length != 0}">
                        <div class="col-md-3 text-right">
                            <label>Fax</label></br>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="customer.fax" type="text" class="form-control" placeholder="Fax">
                            <span class="control-label" for="inputError" ng-show="customer_error.fax.length != 0" ng-repeat="error in customer_error.fax">
                                <i class="fa fa-times-circle-o"></i> Error: {{error}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="submitAddCustomer(customer)">Create customer</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>