<my-modal-process-po ui-id="search_purchase_order_id"></my-modal-process-po>
<my-header ng-show="!is_amp_guest"></my-header>
<my-sidebar ng-show="!is_amp_guest"></my-sidebar>

<div class="content-wrapper" style="min-height: 648px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Project details
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
      <li class="active">Project details</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      <div class="row" ng-show="init_loaded">
        <div class="col-md-12">
          <ol class="breadcrumb tool_box">
            <li><b>Project actions</b></li>
            <li><a ui-sref="project-list">Project list</a></li>
            <li class="active">View project</a></li>
          </ol>
          <!-- general form elements -->
          <div class="box overhidden top_box" ng-show="root.is_superadmin">
            <div class="col-md-6">
              <a ui-sref="project-detail({'id':project.id})" class="btn btn-primary pull-right margin-5">Edit</a>
            </div>
          </div>
        </div>

        <div class="col-md-12">
            <div class="box no-border" style="overflow: auto;">
                <div class="box-header with-border">
                    <h3 class="box-title">Project Information</h3>
                </div>
                <div class="box-body overhidden">
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <!-- form start -->
                        <form role="form">
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Date</label>
                                </div>
                                <div class="col-md-9">
                                     <p>{{project.date}}</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Primary Contact</label></br>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.primary_contact}}</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Customer</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.customer_id}}</p>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Project Number</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.project_number}}</p>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Volume</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.volume}}</p>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Price Point</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.price_point}}</p>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col (left) -->
                    <div class="col-md-6">
                        <form role="form">
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Type of product :</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.life_style}}</p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Services Required : </label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.service}}</p>
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col-md-3 text-right">
                                    <label>Product Match :</label>
                                </div>
                                <div class="col-md-9">
                                    <p>{{project.product_match}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box no-border collapsed-box" style="overflow: auto;">
                <div class="box-header">
                    <h3 class="box-title">Photos and documents</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body overhidden">
                    <file-uploader disabled="true" file-ids="project.tmp_file_ids" model-id="project.id" sendemail="false" email-files = "[]"></file-uploader>
                </div>
            </div>
        </div>
          
        <div class="col-md-12">
            <div class="box no-border collapsed-box" style="overflow: auto;">
                <div class="box-header">
                    <h3 class="box-title">Notes</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus box-title"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body overhidden">
                    <div class="form-group">
                        <textarea ck-readonly="true" ck-editor ng-model="project.note" id="project_note"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-dark-blue text-center">Please click on + to expand section</p>
        </div>
    </div>
  </section>
</div>

<style type="text/css">
#cke_1_top, #cke_1_bottom{
    display: none;
}
</style>